<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Hotels</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Hotel id</th>
                    <th>Hotel Name</th>
                    <th>Location</th>
                    <th>Tele</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hotel of hotels">
                    <td>{{hotel.id}}</td>
                    <td>{{hotel.hotelName}}</td>
                    <td>{{hotel.location}}</td>
                    <td>{{hotel.telephone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
